.header, .content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
}

.firstHeader {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    border-bottom: 1px solid #dbdbdb;
}

.menu {
    display: flex;
    justify-content: space-around;
}

body {
    background-color: #fafafa;
}

lu > a {
    text-decoration: none;
    color: black;
}

lu {
    font-weight: 600;
}